$theme-color: #e5e5e5;
$dark-color: #181818;
$light-color: #ffffff;

$spacing: 10px;
$radius: 2.5px;

body {
    font-family: 'Roboto', sans-serif;
    background-color: $theme-color;
}

.container {
    box-sizing: border-box;
    padding: $spacing;
}