@import 'base.scss';

.container {
    display: flex;
    align-items: center;

    height: 75%;
}

form {
    display: flex;

    width: 100%;

    input {
        flex: 1;

        padding-left: $spacing;
        border: 1px solid $dark-color;
        
        &:focus {
            outline: none;
        }
    }

    button[type="submit"] {
        padding: $spacing / 2;

        background-color: $dark-color;
        color: $light-color;
        border: none;
        cursor: pointer;
    }
}

@media (min-width: 576px) {
    form {
        width: 556px;
        margin: 0 auto;
    }
}
