@import 'base.scss';

nav {
    margin: $spacing 0;

    a {
        color: $dark-color;
    }
}

#videoItemPanel {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $spacing;
}

.video-item {
    display: flex;
    flex-direction: column;
    position: relative; // TO ABSOLUTELY POSITION 'error-message-panel' ELEMENT

    background-color: $theme-color;
    color: $dark-color;
    border-radius: $radius;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    transition: background-color 1s, color 1s;

    .video-thumbnail {
        img {
            display: block; // TO FIX TRAINLING WHITESPACE CAUSED BY INLINE ELEMENT

            width: 100%;
            margin: -10% 0; // TO HIDE BLACK BARS ABOVE & BELOW HIGH RES THUMBNAIL
        }
    }

    .video-info {
        flex: 1;

        padding: 0 $spacing;

        background-color: $light-color;
        border-radius: 0 0 10px 10px;

        .video-publish-time, .video-description {
            font-size: 0.85em;
        }
    }

    .clipboard-panel {
        display: flex;
        align-items: center;
        padding: 0 $spacing;

        .video-link {
            flex: 1;

            font-size: 0.85em;
            transition: opacity 500ms;
        }

        .verify-button {
            text-transform: uppercase;
            cursor: pointer;
        }

        .clipboard-icon {
            display: none;
            cursor: pointer;

            &:active {
                opacity: 0.25;
            }
        }
    }

    .error-message-panel {
        display: flex;
        align-items: center;
        position: absolute;
        height: 0;
        width: 100%;

        background-color: red;
        color: $light-color;
        opacity: 0;
        transition: opacity 1s;

        p {
            box-sizing: border-box;
            width: 100%;
            padding: $spacing;
        }
    }

    &.verified {
        background-color: red;

        .clipboard-panel {
            color: $light-color;
        }
    }
}

@media (min-width: 576px) {
    #videoItemPanel {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 864px) {
    #videoItemPanel {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1152px) {
    #videoItemPanel {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1440px) {
    #videoItemPanel {
        grid-template-columns: repeat(5, 1fr);
    }
}
